# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log

# Virtual environment
venv/
.env
.env.local
*.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations (optional)
# */migrations/
# !*/migrations/__init__.py
